.navbar{
  border-bottom: 3px solid #007CFF;
  background-color: rgba(0, 0, 0, 0.4);
}
.shool{
    width: 50%;
    height: 100%;
}
.card-footer{
    text-decoration: none;
}
.banner{
  background-image: url(image/montagne.jpg);
  background-size: cover;
  background-position: center;
  min-height: 500px;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.nav.link{
  color: aliceblue;
}